* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
  --cor-background: rgb(80, 180, 162);
  --cor-fontes: rgb(233, 255, 251);
}
input[type="checkbox"]:checked ~ .container-nav {
  display: block;
}
input[type="checkbox"] {
  display: none;
}
#logo + #barraNavegacao p {
  display: inline-block;
}
.hamburger {
  display: block;
  line-height: 100px;
  font-size: 34px;
  color: rgb(26, 163, 163);
  user-select: none;
  cursor: pointer;
}

#nomeSite {
  font-size: 100%;
  text-align: center;
  font-weight: 500;
  color: var(--cor-fontes);
}
#logo {
  width: 20px;
  height: 20px;
}

/* Barra de Navegação e afins */
.container-nav {
  background-color: var(--cor-background);
  display: none;
  position: absolute;
  align-items: center;
  right: 0;
  left: 0;
  text-align: center;
}
#barraNavegacao {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--cor-background);
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}
#barraNavegacao ul li {
  display: block;
  list-style: none;
  padding: 20px;
}
#barraNavegacao ul li a {
  color: var(--cor-fontes);
}
.container-nav li:hover {
  background-color: rgba(40, 62, 82, 0.192);
  transition: 0.4s;
  transform: rotate(90);
}
#barraPesquisa {
  display: inline-flex;
  justify-content: center;
  background-color: rgba(124, 248, 225, 0.158);
  border: none;
  padding: 5px;
  outline: none;
  border-radius: 6px;
}

/*Corpo*/
article {
  margin: 20px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
section img {
  width: 100%;
}
article h2 {
  margin: 10px;
}
figcaption {
  font-size: 12px;
  color: #555;
  margin: 10px;
}
article p {
  margin-top: 10px;
  color: #333;
  text-align: justify;
  margin: 10px;
}
footer {
  text-align: center;
  background-color: var(--cor-background);
  color: var(--cor-fontes);
  font-weight: 100;
}
@media (min-width: 600px) {
  .hamburger {
    display: none;
    user-select: none;
  }
  .container-nav {
    display: flex;
    background-color: none;
    position: unset;
  }
  #barraPesquisa {
    width: 20%;
  }
  #barraNavegacao ul li {
    display: inline-flex;
  }
  #logo {
    width: 5%;
    height: 5%;
  }
  header p {
    font-size: 140px;
  }
  section {
    display: flex;
    flex-wrap: wrap;
  }
  article {
    display: block;
    width: 200px;
    padding: 8px;
    margin: 1.5% auto;
  }
}

@media (min-width: 1041px) {
  article {
    min-width: 20%;
  }
}
